### Import dependencies

In [1]:
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain.agents.agent_types import AgentType
from langchain.agents.agent_toolkits import SQLDatabaseToolkit 
from langchain.utilities import SQLDatabase
from langchain.llms import OpenAI
from langchain.agents import create_sql_agent 
import os

In [2]:
# define the database we want to use for our test
db = SQLDatabase.from_uri('sqlite:///sql_lite_database.db')

In [12]:
from langchain_openai import ChatOpenAI
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()
# Fetch the OpenAI API key from environment variables
api_key = os.getenv("OPENAI_API_KEY")

if api_key is None:
    raise ValueError("API key is missing. Please set OPENAI_API_KEY in the .env file.")

# Set your OpenAI API key
os.environ["OPENAI_API_KEY"] = api_key

# Initialize the ChatOpenAI model with desired parameters
llm = ChatOpenAI(model="gpt-4o-mini", temperature=0)

In [7]:
# setup agent
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [9]:
# define the user's question
question = "How many customers do we have in our database?"
agent_executor.invoke(question)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  AGENTS, CUSTOMER, ORDERSThe relevant table for customer information is the CUSTOMER table. I will check the schema of the CUSTOMER table to see the relevant columns for counting the customers.
Action: sql_db_schema
Action Input: "CUSTOMER"
CREATE TABLE "CUSTOMER" (
	"CUST_CODE" TEXT(6) NOT NULL,
	"CUST_NAME" TEXT(40) NOT NULL,
	"CUST_CITY" CHAR(35),
	"WORKING_AREA" TEXT(35) NOT NULL,
	"CUST_COUNTRY" TEXT(20) NOT NULL,
	"GRADE" NUMERIC,
	"OPENING_AMT" NUMERIC(12, 2) NOT NULL,
	"RECEIVE_AMT" NUMERIC(12, 2) NOT NULL,
	"PAYMENT_AMT" NUMERIC(12, 2) NOT NULL,
	"OUTSTANDING_AMT" NUMERIC(12, 2) NOT NULL,
	"PHONE_NO" TEXT(17) NOT NULL,
	"AGENT_CODE" CHAR(6) NOT NULL,
	PRIMARY KEY ("CUST_CODE"),
	FOREIGN KEY("AGENT_CODE") REFERENCES "AGENTS" ("AGENT_CODE")
)

/*
3 rows from CUSTOMER table:
CUST_CODE	CUST_NAME	CUST_CITY	WORKING_AREA	CUST_COUNTRY	GRADE	OPENING_AMT	RECEIVE_AMT	PAYMENT_AMT	OUTSTANDING_AMT	PHONE_NO	AGENT_CODE
C00013	Holmes	London	London	UK	2.0000000000	6000.00	5000.00	7000.00	4000.00	BBBBBBB	A003
C00001	Micheal	New York	New York	USA	2.0000000000	3000.00	5000.00	2000.00	6000.00	CCCCCCC	A008
C00020	Albert	New York	New York	USA	3.0000000000	5000.00	7000.00	6000.00	6000.00	BBBBSBB	A008
*/To count the number of customers, I can use the `CUST_CODE` column from the `CUSTOMER` table, as it is the primary key and will give me the total number of unique customers. I will write a query to count the distinct `CUST_CODE` values.

Action: sql_db_query_checker
Action Input: "SELECT COUNT(DISTINCT CUST_CODE) AS total_customers FROM CUSTOMER;"  ```sql
SELECT COUNT(DISTINCT CUST_CODE) AS total_customers FROM CUSTOMER;
```The query is correct. Now I will execute it to get the total number of customers.

Action: sql_db_query
Action Input: "SELECT COUNT(DISTINCT CUST_CODE) AS total_customers FROM CUSTOMER;"  [(25,)]I now know the final answer.
Final Answer: There are 25 customers in the database.

> Finished chain.

{'input': 'How many customers do we have in our database?',
 'output': 'There are 25 customers in the database.'}

In [10]:
# define the user's question
question = "List all customers from the US"
agent_executor.invoke(question)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  AGENTS, CUSTOMER, ORDERSI see that there is a table named "CUSTOMER" which likely contains information about customers. I will check the schema of the CUSTOMER table to find the relevant columns for my query.
Action: sql_db_schema
Action Input: "CUSTOMER"
CREATE TABLE "CUSTOMER" (
	"CUST_CODE" TEXT(6) NOT NULL,
	"CUST_NAME" TEXT(40) NOT NULL,
	"CUST_CITY" CHAR(35),
	"WORKING_AREA" TEXT(35) NOT NULL,
	"CUST_COUNTRY" TEXT(20) NOT NULL,
	"GRADE" NUMERIC,
	"OPENING_AMT" NUMERIC(12, 2) NOT NULL,
	"RECEIVE_AMT" NUMERIC(12, 2) NOT NULL,
	"PAYMENT_AMT" NUMERIC(12, 2) NOT NULL,
	"OUTSTANDING_AMT" NUMERIC(12, 2) NOT NULL,
	"PHONE_NO" TEXT(17) NOT NULL,
	"AGENT_CODE" CHAR(6) NOT NULL,
	PRIMARY KEY ("CUST_CODE"),
	FOREIGN KEY("AGENT_CODE") REFERENCES "AGENTS" ("AGENT_CODE")
)

/*
3 rows from CUSTOMER table:
CUST_CODE	CUST_NAME	CUST_CITY	WORKING_AREA	CUST_COUNTRY	GRADE	OPENING_AMT	RECEIVE_AMT	PAYMENT_AMT	OUTSTANDING_AMT	PHONE_NO	AGENT_CODE
C00013	Holmes	London	London	UK	2.0000000000	6000.00	5000.00	7000.00	4000.00	BBBBBBB	A003
C00001	Micheal	New York	New York	USA	2.0000000000	3000.00	5000.00	2000.00	6000.00	CCCCCCC	A008
C00020	Albert	New York	New York	USA	3.0000000000	5000.00	7000.00	6000.00	6000.00	BBBBSBB	A008
*/The CUSTOMER table contains a column named "CUST_COUNTRY" which I can use to filter for customers from the US. I will construct a query to select the relevant columns for customers from the US and limit the results to 10.
Action: sql_db_query_checker
Action Input: "SELECT CUST_CODE, CUST_NAME, CUST_CITY, WORKING_AREA FROM CUSTOMER WHERE CUST_COUNTRY = 'USA' LIMIT 10"  ```sql
SELECT CUST_CODE, CUST_NAME, CUST_CITY, WORKING_AREA FROM CUSTOMER WHERE CUST_COUNTRY = 'USA' LIMIT 10
```The query is syntactically correct. I will now execute it to retrieve the customers from the US.
Action: sql_db_query
Action Input: "SELECT CUST_CODE, CUST_NAME, CUST_CITY, WORKING_AREA FROM CUSTOMER WHERE CUST_COUNTRY = 'USA' LIMIT 10"  [('C00001', 'Micheal', 'New York', 'New York'), ('C00020', 'Albert', 'New York', 'New York'), ('C00002', 'Bolt', 'New York', 'New York'), ('C00012', 'Steven', 'San Jose', 'San Jose')]I now know the final answer.
Final Answer: The customers from the US are:
1. CUST_CODE: C00001, CUST_NAME: Micheal, CUST_CITY: New York, WORKING_AREA: New York
2. CUST_CODE: C00020, CUST_NAME: Albert, CUST_CITY: New York, WORKING_AREA: New York
3. CUST_CODE: C00002, CUST_NAME: Bolt, CUST_CITY: New York, WORKING_AREA: New York
4. CUST_CODE: C00012, CUST_NAME: Steven, CUST_CITY: San Jose, WORKING_AREA: San Jose

> Finished chain.

{'input': 'List all customers from the US',
 'output': 'The customers from the US are:  \n1. CUST_CODE: C00001, CUST_NAME: Micheal, CUST_CITY: New York, WORKING_AREA: New York  \n2. CUST_CODE: C00020, CUST_NAME: Albert, CUST_CITY: New York, WORKING_AREA: New York  \n3. CUST_CODE: C00002, CUST_NAME: Bolt, CUST_CITY: New York, WORKING_AREA: New York  \n4. CUST_CODE: C00012, CUST_NAME: Steven, CUST_CITY: San Jose, WORKING_AREA: San Jose'}

In [11]:
# define the user's question
question = "What is the phone number of the customer Albert?"
agent_executor.invoke(question)

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: ""  AGENTS, CUSTOMER, ORDERSI need to check the schema of the CUSTOMER table to find the relevant columns for the customer's phone number.
Action: sql_db_schema
Action Input: "CUSTOMER"
CREATE TABLE "CUSTOMER" (
	"CUST_CODE" TEXT(6) NOT NULL,
	"CUST_NAME" TEXT(40) NOT NULL,
	"CUST_CITY" CHAR(35),
	"WORKING_AREA" TEXT(35) NOT NULL,
	"CUST_COUNTRY" TEXT(20) NOT NULL,
	"GRADE" NUMERIC,
	"OPENING_AMT" NUMERIC(12, 2) NOT NULL,
	"RECEIVE_AMT" NUMERIC(12, 2) NOT NULL,
	"PAYMENT_AMT" NUMERIC(12, 2) NOT NULL,
	"OUTSTANDING_AMT" NUMERIC(12, 2) NOT NULL,
	"PHONE_NO" TEXT(17) NOT NULL,
	"AGENT_CODE" CHAR(6) NOT NULL,
	PRIMARY KEY ("CUST_CODE"),
	FOREIGN KEY("AGENT_CODE") REFERENCES "AGENTS" ("AGENT_CODE")
)

/*
3 rows from CUSTOMER table:
CUST_CODE	CUST_NAME	CUST_CITY	WORKING_AREA	CUST_COUNTRY	GRADE	OPENING_AMT	RECEIVE_AMT	PAYMENT_AMT	OUTSTANDING_AMT	PHONE_NO	AGENT_CODE
C00013	Holmes	London	London	UK	2.0000000000	6000.00	5000.00	7000.00	4000.00	BBBBBBB	A003
C00001	Micheal	New York	New York	USA	2.0000000000	3000.00	5000.00	2000.00	6000.00	CCCCCCC	A008
C00020	Albert	New York	New York	USA	3.0000000000	5000.00	7000.00	6000.00	6000.00	BBBBSBB	A008
*/I have the schema for the CUSTOMER table, and I can see that it contains a column for the phone number (PHONE_NO). Now, I will query the CUSTOMER table to find the phone number for the customer named Albert.

Action: sql_db_query_checker
Action Input: "SELECT PHONE_NO FROM CUSTOMER WHERE CUST_NAME = 'Albert' LIMIT 10;"  ```sql
SELECT PHONE_NO FROM CUSTOMER WHERE CUST_NAME = 'Albert' LIMIT 10;
```The query is correct. Now I will execute it to find Albert's phone number.

Action: sql_db_query
Action Input: "SELECT PHONE_NO FROM CUSTOMER WHERE CUST_NAME = 'Albert' LIMIT 10;"  [('BBBBSBB',)]I now know the final answer
Final Answer: The phone number of the customer Albert is BBBBSBB.

> Finished chain.

{'input': 'What is the phone number of the customer Albert?',
 'output': 'The phone number of the customer Albert is BBBBSBB.'}